<footer>
  <div class="container logo-tap-shield">
    <img class="" src="assets/images/TAP-Shield.png"/>
  </div> 
  <div class="desktop-container">
    <section class="sponsors container">
        <h1>Our Sponsors</h1>
    </section>
    <section class="sitemap container">
        <h1>Sitemap</h1>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Meet the Clubs</a></li>
          <li><a href="#">Where to Play?</a></li>
          <li><a href="#">Latest News</a></li>
        </ul>
    </section>
    <section class="sitemap container">
        <h1>Socials</h1>
        <ul>
          <li><a href="https://wwww.facebook.com/Touch.Football.Pilipinas">Facebook</a></li>
          <li><a href="https://instagram.com/touchfootballph">Instragram</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
    </section>
  </div>
  <div class="footer-btm">Touch Association Pilipinas</div>
</footer>