<header class="header-child d-table w-100">
  <div class="d-table-cell align-middle h-100">
    <img class="header-bg" src="assets/images/photo-2.jpg"/>
    <div class="gradient-bg"></div>
    <h1>Latest News</h1>
  </div>
</header>

<app-la-liga-official-outfitter></app-la-liga-official-outfitter>

