app-main-menu{
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;

    .menu-toggle{
        position: relative;
        z-index: 2;
    }

    .d-table-cell{
        position: relative;
        z-index: 2;
    }

    .menu-contents{
        background: $deep-dark-blue;
        background: -moz-linear-gradient(45deg, $deep-dark-blue, $black 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, $deep-dark-blue), color-stop(100%, $black));
        background: -webkit-linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
        background: -o-linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
        background: -ms-linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
        background: linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
        background: linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;

        ul li a{
            color: #ffffff;
            font-family: Onramp;
            font-size: 40px;
            padding: 15px 20px;
            display: block;
        }
    }

    .vector-2{
        position: absolute;
        z-index: 1;
        right: -250px;
    }

    .menu-contents.show{
        display: table;
    }
}

@media screen and (max-width: 400px) {
    app-main-menu{
        .desktop-menu-items{
            display: none;
        }
    }
}

@media screen and (min-width: 401px) {
    app-main-menu{
        .menu-toggle{
            display: none;
        }
        .desktop-menu-items{
            display: block;
            margin: 0;
            padding: 0;
            li{
                display: inline-block;
            }
            li img{
                width: 80px;
                margin-right: 20px;
            }
            li a{
                color: #ffffff;
                font-size: 13px;
                margin: 0 15px;
                text-transform: uppercase;
            }
        }
    }  
}