@media screen and (min-width: 401px) {
    .section-container{
        width: 800px;
        padding: 60px 10px;
    }

    .header-title-2{
        color: $text-light-gray;
        font-family: Onramp;
        font-size: 50px;
    }

    p, ul{
        color: $text-light-gray;
        font-size: 16px;
        font-family: Open Sans;
        line-height: 1.8em;
    }

    .btn-default{
        background: $gradient-blue;
        color: #ffffff;
        font-size: 16px;
        font-weight: 800;
        padding: 10px 25px;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all ease 0.3ms;
        margin: 10px 0 0 0;
        display: inline-block;
    }

    .header-home{
        position: relative;
        height: 80vh;
        width: 100%;
        display: table;
        overflow: hidden;
        .gradient-bg{
            background: rgba(6,22,65,1);
            background: -moz-linear-gradient(180deg, $black, $deep-dark-blue 100%);
            background: -webkit-gradient(left bottom, right top, color-stop(0%, $black), color-stop(100%, $deep-dark-blue));
            background: -webkit-linear-gradient(180deg, $black 0%, $deep-dark-blue 100%);
            background: -o-linear-gradient(180deg, $black 0%, $deep-dark-blue 100%);
            background: -ms-linear-gradient(180deg, $black 0%, $deep-dark-blue 100%);
            background: linear-gradient(180deg, $black 0%, $deep-dark-blue 100%);
            background: linear-gradient(180deg, $black 0%, $deep-dark-blue 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.9;
            z-index: 1;
        }
        .header-home-bg{
            height: 100%;
            width: 100%;
            position: absolute;
            object-fit: cover;
        }
        figure{
            z-index: 2;
            display: table-cell;
            position: relative;
            img{
                width: 500px;
            }
        }
    }

    app-page-home{
        .home-about-photo{
            height: 300px;
            position: relative;
            img{
                height: 100%;
                width: 100%;
                position: absolute;
                object-fit: cover;
            }
        }

        .break-photo{   
            width: 800px;
            margin: 0 auto;
        }

        .image-home-1{
            position: absolute;
            z-index: -1;
            opacity: 0.1;
            right: -200px;
            top: -100px;
            width: 300px;
        }
    }

    header.header-title{
        position: relative;
        h1{
            color: $dark-blue;
            font-family: Onramp;
            font-size: 50px
        }
        h1 img{
            width: 50px;
            margin-right: 10px;
        }
        .header-title-bg{
            position: absolute;
            z-index: -1;
            top: -20px;
        }
    }

    .header-child{
        position: relative;
        text-align: center;
        height: 50vh;
        h1{
            color: #ffffff;
            font-family: Onramp;
            font-size: 40px;
        }
        img.header-bg{
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
        }
        .gradient-bg{
            background: $deep-dark-blue;
            background: -moz-linear-gradient(45deg, $deep-dark-blue, $black 100%);
            background: -webkit-gradient(left bottom, right top, color-stop(0%, $deep-dark-blue), color-stop(100%, $black));
            background: -webkit-linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: -o-linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: -ms-linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.9;
            z-index: -1;
        }
    }

    .play-content{
        figure{
            max-width: 200px;
            display: inline-block;
        }
    }

    app-page-club{
        .club-list{
            text-align: center;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .club-logo{
            box-shadow: 0px 0px 20px 1px rgba(212, 212, 212, 0.46);
            border-radius: 10px;
            width: 180px;
            height: 180px;
            margin: 10px auto;
            padding: 15px;
            cursor: pointer;
            display: flex;
            align-items: center;
            img.club-image-1{
                padding: 15px;
                width: 100%;
            }
            .description{
                position: absolute;
                padding: 10px;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 4;
                display: none;
                text-align: left;
                .paragraph{
                    position: fixed;
                    z-index: 4;
                    background: #fff;
                    border-radius: 10px;
                    box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.25);
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    width: 500px;
                    padding: 40px;
                    overflow: auto;
                    margin: 60px auto;
                    p{
                        font-size: 14px;
                        line-height: 1.8em;
                    }
                }
                h1{
                    font-family: Onramp;
                    font-size: 25px;
                }
                .background-bg{
                    background: rgba(0, 0, 0, 0.60);
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .description.show{
                display: block;
            }
        }
    }

    .header-blog{
        position: relative;
        text-align: center;
        height: 60vh;
        h1{
            color: #ffffff;
            font-family: Onramp;
            font-size: 45px;
            padding: 25px;
            margin: 0 auto;
            max-width: 800px;
        }
        img.header-bg{
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
        }
        .gradient-bg{
            background: $deep-dark-blue;
            background: -moz-linear-gradient(45deg, $deep-dark-blue, $black 100%);
            background: -webkit-gradient(left bottom, right top, color-stop(0%, $deep-dark-blue), color-stop(100%, $black));
            background: -webkit-linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: -o-linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: -ms-linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.9;
            z-index: -1;
        }
    }

    .news-container{
        max-width: 800px;
        padding: 30px 25px;
        p{
            font-size: 14px;
            line-break: 1.8em;
        }
    }


    footer{
        margin-top: 100px;
        .logo-tap-shield{
            position: relative;
            top: -100px;
            img{
                width: 250px;
            }
        }
        .desktop-container{
            display: flex;
            max-width: 980px;
            margin: -100px auto 50px auto;
            section{
                vertical-align: middle;
            }
        }
        .footer-btm{
            font-size: 14px;
            font-family: Onramp;
            text-align: center;
            color: rgba(255, 255, 255, 0.466);
            background: #000000;
            padding: 20px;
        }
        h1{
            font-size: 35px;
            font-family: Onramp;
            color: #ffffff;
        }
        .sitemap{
            ul{
                padding: 0;
            }
            ul li{
                list-style: none;
            }
            a{
                font-size: 12px;
                color: #ffffff;
            }
        }
    }
}