@media screen and (max-width: 400px) {
    .section-container{
        padding: 40px 25px;
    }

    p, ul{
        color: $text-light-gray;
        font-size: 12px;
        font-family: Open Sans;
        line-height: 1.8em;
    }
    
    ul{
        padding: 0;
    }

    ul li{
        list-style: none;
    }

    .image-home-1{
        position: absolute;
        z-index: -1;
        opacity: 0.1;
        right: -200px;
        top: -100px;
        width: 300px;
    }

    .header-title-2{
        color: $text-light-gray;
        font-family: Onramp;
        font-size: 35px;
    }

    header.header-home{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
        height: 80vh;
        position: relative;
        overflow: hidden;
        display: table;
        img.header-home-bg{
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            z-index: -1;
        }
        img.tap-logo{
            width: 80%;
        }
        figure{
            display: table-cell;
        }
        .gradient-bg{
            background: rgba(6,22,65,1);
            background: -moz-linear-gradient(45deg, $gradient-red, $gradient-blue 100%);
            background: -webkit-gradient(left bottom, right top, color-stop(0%, $gradient-red), color-stop(100%, $gradient-blue));
            background: -webkit-linear-gradient(45deg, $gradient-red 0%, $gradient-blue 100%);
            background: -o-linear-gradient(45deg, $gradient-red 0%, $gradient-blue 100%);
            background: -ms-linear-gradient(45deg, $gradient-red 0%, $gradient-blue 100%);
            background: linear-gradient(45deg, $gradient-red 0%, $gradient-blue 100%);
            background: linear-gradient(45deg, $gradient-red 0%, $gradient-blue 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.9;
            z-index: -1;
        }
    }

    header.header-title{
        position: relative;
        h1{
            color: $dark-blue;
            font-family: Onramp;
            font-size: 30px
        }
        h1 img{
            width: 30px;
            margin-right: 10px;
        }
        .header-title-bg{
            position: absolute;
            z-index: -1;
            top: -20px;
        }
    }

    .header-child{
        position: relative;
        text-align: center;
        height: 200px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
        h1{
            color: #ffffff;
            font-family: Onramp;
            font-size: 40px;
        }
        img.header-bg{
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
        }
        .gradient-bg{
            background: $deep-dark-blue;
            background: -moz-linear-gradient(45deg, $deep-dark-blue, $black 100%);
            background: -webkit-gradient(left bottom, right top, color-stop(0%, $deep-dark-blue), color-stop(100%, $black));
            background: -webkit-linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: -o-linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: -ms-linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.9;
            z-index: -1;
        }
    }

    app-page-where-to-play{
        .play-content h1{
            font-size: 25px;
            line-height: 1em;
        }
        .play-content figure{
            border-radius: 10px;
            width: 120px;
            margin-bottom: 40px;
        }
        .play-content .d-flex{
            margin-bottom: 30px;
        }
    }

    footer{
        margin-top: 100px;
        .logo-tap-shield{
            position: relative;
            top: -100px;
            img{
                width: 50%;
            }
        }
        .footer-btm{
            font-size: 14px;
            font-family: Onramp;
            text-align: center;
            color: rgba(255, 255, 255, 0.466);
            background: #000000;
            padding: 20px;
        }
        .sponsors{
            margin-top: -100px;
        }
        h1{
            font-size: 24px;
            font-family: Onramp;
            color: #ffffff;
        }
    }

    app-page-club{
        .club-list{
            text-align: center;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .club-logo{
            box-shadow: 0px 0px 20px 1px rgba(212, 212, 212, 0.46);
            border-radius: 10px;
            width: 120px;
            height: 120px;
            margin: 10px auto;
            padding: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            img.club-image-1{
                padding: 15px;
                width: 100%;
            }
            .description{
                position: absolute;
                padding: 10px;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 4;
                display: none;
                text-align: left;
                .paragraph{
                    position: fixed;
                    z-index: 4;
                    background: #fff;
                    border-radius: 10px;
                    box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.25);
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    padding: 30px;
                    margin: 30px;
                    overflow: auto;
                }
                h1{
                    font-family: Onramp;
                    font-size: 25px;
                }
                .background-bg{
                    background: rgba(0, 0, 0, 0.60);
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .description.show{
                display: block;
            }
        }
    }

    .header-blog{
        position: relative;
        text-align: center;
        height: 200px;
        h1{
            color: #ffffff;
            font-family: Onramp;
            font-size: 20px;
            padding: 25px;
        }
        img.header-bg{
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
        }
        .gradient-bg{
            background: $deep-dark-blue;
            background: -moz-linear-gradient(45deg, $deep-dark-blue, $black 100%);
            background: -webkit-gradient(left bottom, right top, color-stop(0%, $deep-dark-blue), color-stop(100%, $black));
            background: -webkit-linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: -o-linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: -ms-linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            background: linear-gradient(45deg, $deep-dark-blue 0%, $black 100%);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.9;
            z-index: -1;
        }
    }
}