<nav>
  <img class="menu-toggle" src="/assets/images/MainNavigationIcon.png"/>
  <!-- desktop menu items -->
  <ul class="desktop-menu-items">
    <li><img src="assets/images/TAP-Abbr.png"/></li>
    <li><a routerLink="/" href="/">Home</a></li>
    <li><a routerLink="/club" href="/club">Meet the Clubs</a></li>
    <li><a routerLink="/play" href="/play">Where to Play?</a></li>
    <li><a routerLink="/news" href="/news">News</a></li>
  </ul>
  
  <!-- popup menu -->
  <section class="menu-contents h-100 w-100">
    <div class="d-table-cell align-middle">
      <ul>
        <li><a routerLink="/" href="/">Home</a></li>
        <li><a routerLink="/club" href="/club">Meet the Clubs</a></li>
        <li><a routerLink="/play" href="/play">Where to Play?</a></li>
        <li><a routerLink="/news" href="/news">News</a></li>
      </ul>
    </div>
    <img class="vector-2" src="assets/images/vector-2.png"/>
  </section>
</nav>