<header class="header-child d-table w-100">
  <div class="d-table-cell align-middle h-100">
    <img class="header-bg" src="assets/images/photo-2.jpg"/>
    <div class="gradient-bg"></div>
    <h1>Meet the Clubs</h1>
  </div>
</header>
<section class="container section-container">
  <header class="header-title">
    <img class="header-title-bg" src="assets/images/img-header-latestnews.png"/>
    <h1><img src="assets/images/img-header-icon.png"/>Meet the Clubs</h1>
  </header>
  <div class="club-list">
    <div class="club-logo">
        <img class="club-image-1" src="assets/images/team-uptf.png"/>
        <section class="description">
            <div class="background-bg"></div>
            <div class="paragraph">
                <img class="w-50 mb-3" src="assets/images/team-uptf.png"/>
                <h1>UP Touch Football Club</h1>
                <p>Founded in February 2006, the UP Touch Football Club (UPTFC) made its mark as the premier organization in the University of the Philippines Diliman to introduce touch football as a sport to the student populace.</p>
                <p>The club started as a sister team to the Nomads Bullettes and  eventually became an independent organization. With six founding members, the club has grown today with a membership base of 40+ active members and is continually expanding.</p>
            </div>
        </section>
    </div>
    <div class="club-logo">
        <img class="club-image-1" src="assets/images/team-nomads.png"/>
        <section class="description">
            <div class="background-bg"></div>
            <div class="paragraph">
                <img class="w-50 mb-3" src="assets/images/team-nomads.png"/>
                <h1>Manila Nomads</h1>
                <p>Founded in 2004, the Nomads Bullettes is the pioneering ladies club team that introduced club touch rugby in the Philippines. The Nomads Bullettes participate in numerous local and international competitions and have carried the Philippine flag in 4 Asian Touch Championships.</p>
                <p>The Bullettes are the ladies touch team of the Manila Nomads - Nomads began in 1914, the second oldest sporting club in the Philippines, originally serving as a recreational outlet for British expatriates.</p>
                <p>Today, Nomads Rugby Club proudly boasts a number of representatives in the Philippine Volcanoes national team, the Philippine Residents XV, and the National Development Team (for Philippine Heritage players).</p>
                <p>Nomads Rugby seeks to espouse rugby’s core values of Integrity, Passion, Solidarity, Discipline, and Respect. The club strives to promote rugby as proud ambassadors of these values, and developing grass-roots rugby as well as representing our nation at the highest level.</p>
            </div>
        </section>
    </div>
    <div class="club-logo">
        <img class="club-image-1" src="assets/images/team-laliga.jpg"/>
        <section class="description">
            <div class="background-bg"></div>
            <div class="paragraph">
                <img class="w-50 mb-3" src="assets/images/team-laliga.jpg"/>
                <h1>La Liga</h1>
                <p>La Liga Academia is a 7s Rugby academy focused on character & athlete development.</p>
                <p>Built from the ground up off a sincere premise with one mission - to inspire the next. The premise of instilling change in matters we can no longer sit for nor stay silent for. The co-founders, former Philippine Volcano teammates, are simply executing their own interpretation of the sport of rugby through various initiatives as seen through @laligaacademia's facebook footprint.</p>
                <p>Follow our #inspirethenext movement/cause as we continue to redefine and pursue our vision of professionalizing the first rugby academy in the Philippines.</p>
                <p>"Service to others is the rent you pay for your room here on earth." - Cassius Clay</p>
            </div>
        </section>
    </div>
    <div class="club-logo">
        <img class="club-image-1" src="assets/images/team-mtfc.png"/>
        <section class="description">
            <div class="background-bg"></div>
            <div class="paragraph">
                <img class="w-50 mb-3" src="assets/images/team-mtfc.png"/>
                <h1>Makati Touch Football Club</h1>
                <p>Makati Touch Football Club was founded in 2016 by a group of family and friends who love the sport and are deeply committed to growing within the touch rugby community. MTFC plans to further the sport of touch in the Philippines by fielding top teams to support local and international tournaments, and by providing great facilities and practices for people to participate in. MTFC believes in training hard, having fun, and never forgetting the love of the game</p>
            </div>
        </section>
    </div>
  </div>
</section>

<!-- Affifiate Clubs -->

<section class="container section-container">
  <header class="header-title">
    <img class="header-title-bg" src="assets/images/img-header-latestnews.png"/>
    <h1><img src="assets/images/img-header-icon.png"/>Affifiate Clubs</h1>
  </header>
  <div class="club-list">
    <div class="club-logo">
        <img class="club-image-1" src="assets/images/team-mtr.png"/>
        <section class="description">
            <div class="background-bg"></div>
            <div class="paragraph">
                <img class="w-50 mb-3" src="assets/images/team-mtr.png"/>
                <h1>UP Touch Football Club</h1>
                <p>Founded in February 2006, the UP Touch Football Club (UPTFC) made its mark as the premier organization in the University of the Philippines Diliman to introduce touch football as a sport to the student populace.</p>
                <p>The club started as a sister team to the Nomads Bullettes and  eventually became an independent organization. With six founding members, the club has grown today with a membership base of 40+ active members and is continually expanding.</p>
            </div>
        </section>
    </div>
  </div>
</section>