<section class="container article-section">
  <h1>
    <a href="news/official-outfitter-la-liga">Official Outfitter of the Touch Association Pilipinas</a>
  </h1>
  <h6>
    <label class="category">News</label>
    <label class="date">February 25, 2019</label>
  </h6>
  <figure>
    <img class="w-100" src="assets/images/photo-1.jpg"/>
    <div class="article-bg"></div>
  </figure>
  <div class="artile-headline">
    <p>Why LA LIGA? One may ask. LA LIGA was derived from Philippine's National Hero, José Protacio Rizal Mercado y Alonso Realonda. In 1892 our beloved José Rizal established LA LIGA Filipina where he scouted and recruited a group that sought to involve the people directly toward his reform movement. Through LA LIGA Filipina he provided a mutual aid and a self-help society dispersing scholarship funds, legal aid, loaning capital and provided support where his peers were successful in creating cooperatives.</p>
  </div>
</section>