<header class="header-blog d-table w-100">
  <div class="d-table-cell align-middle h-100">
    <img class="header-bg" src="assets/images/photo-2.jpg"/>
    <div class="gradient-bg"></div>
    <h1>Official Outfitter of the Touch Association Pilipinas</h1>
  </div>
</header>

<section class="container news-container">
  <p>La Liga is a school of thought that was drawn up by our national hero; José Rizal.</p>
  <p>Where through his travels, he returns to the Philippines and then shares his experiences and knowledge onto his countrymen.</p>
  <p>Now our founder/ceo, Paulo Jordan, with similar intent, has organically evolved the very same concept from not just a mentality of helping others but now into a trademarked active lifestyle brand, LA LIGA™, in addition to being a premium bespoke teamwear manufacturer.</p>
  <p>Not to be confused by the Spanish La Liga, LA LIGA was founded by a former National Athlete who, with the help of friends, established a brand where he will infuse all interests and knowledge into one consistent brand; one LA LIGA familia brand.</p>
  <p>Why LA LIGA? One may ask. LA LIGA was derived from Philippine's National Hero, José Protacio Rizal Mercado y Alonso Realonda. In 1892 our beloved José Rizal established LA LIGA Filipina where he scouted and recruited a group that sought to involve the people directly toward his reform movement. Through LA LIGA Filipina he provided a mutual aid and a self-help society dispersing scholarship funds, legal aid, loaning capital and provided support where his peers were successful in creating cooperatives.</p>
  <p>(LA LIGA) Academia is the founder's personal initiative toward providing a vehicle for impoverished children of the Philippines through the sport of rugby where he will voluntarily share and widen the children's perspective in how to be and carry themselves as a proper atleta, (athlete in tagalog).</p>
  <p>14% of any monetary gains we receive at LA LIGA will always and forever be donated toward sport advocacies, where the betterment and longevity is reciprocated back to the children of the Philippines, beginning with the sport of Rugby.</p>
  <p>La Liga is the official outfitter of the Philippine Pythons - the Philippine National Touch Football Team.</p>
  <p>Get a 10% discount for all touch football team orders by quoting the promo code “TAP10” on your next order. Contact Paulo Jordan at 0917.672.1414 or ask@laliga.com to order your bespoke team kits.</p>
</section>