<header class="header-child d-table w-100">
  <div class="d-table-cell align-middle h-100">
      <img class="header-bg" src="assets/images/photo-2.jpg"/>
      <div class="gradient-bg"></div>
      <h1>Where to play?</h1>
  </div>
</header>
<!-- <section class="container section-container">
  <img src="assets/images/photo-3.png" class="w-100 mb-3"/>
  <h1 class="header-title-2">Get in Touch</h1>
  <p>Formerly known as the Federation of Touch Football Pilipinas, Touch Association Pilipinas (or TAP for short), is the national sports association for the sport of touch rugby/football in the Philippines.</p>
</section> -->

<section class="container play-content section-container">
  <div>
    <div class="w-100">
      <figure>
        <img class ="w-100" src="assets/images/team-mtr.png"/>
      </figure>
    </div>
    <div class="w-100">
        <h1 class="header-title-2">Manila Touch Rugby</h1>
        <p>Manila Touch Rugby (MTR) is a non-profit rugby organization created for people who want to play Touch Rugby in a fun, friendly, social setting. MTR welcomes adult players of all skill levels, experience, and genders.</p>
        <ul>
          <li>Every Wednesday at 7:30 PM - 9:00 PM</li>
          <li>British School Manila</li>
          <li>Pitch Fee: PHP 200/player</li>
        </ul>
        <p>Register every week at <a href="https://www.facebook.com/groups/926287517411761/">MTR's Facebook Group</a></p>
    </div>
  </div>
</section>

<section class="container play-content section-container">
  <div>
    <div class="w-100">
      <figure>
        <img class ="w-100" src="assets/images/team-laliga.jpg"/>
      </figure>
    </div>
    <div class="w-100">
        <h1 class="header-title-2">LARO by La Liga</h1>
        <p>A NON-PROFIT initiative wherein the La Liga brand provides an open platform catering to the rugby & touch football community. Promoting character & athlete development. Open to entry & intermediate players #inspirethenext #laligaturo</p>
        <ul>
          <li>Every Sunday</li>
          <li>British School Manila</li>
          <li>Pitch Fee: PHP 200/player</li>
        </ul>
        <p>Register every week at <a href="https://www.facebook.com/groups/2212589772297253/">La Liga's facebook page</a></p>
    </div>
  </div>
</section>