<header class="header-home">
  <img class="header-home-bg" src="assets/images/photo-2.jpg"/>
  <div class="gradient-bg"></div>
  <figure class="h-100 text-center align-middle">
    <img class="tap-logo" src="assets/images/TAP-Full.png"/>
  </figure>
</header>

<section class="container section-container">
  <header class="header-title">
    <img class="header-title-bg" src="assets/images/img-header-latestnews.png"/>
    <h1><img src="assets/images/img-header-icon.png"/>About Us</h1>
  </header>
  <div class="home-about-photo mt-4 mb-4">
    <img class="w-100" src="assets/images/photo-1.jpg"/>
  </div>
  <h1 class="header-title-2">Get in Touch</h1>
  <p>Formerly known as the Federation of Touch Football Pilipinas, Touch Association Pilipinas (or TAP for short), is the national sports association for the sport of touch rugby/football in the Philippines.</p>
  <p>TAP is a member nation of the Federation of International Touch(FIT) - the international governing body of the sport.</p>
  <a href="#" class="btn-default">Learn more</a>
</section>

<section class="break-photo">
  <img class="w-100" src="assets/images/soc1.png"/>
</section>

<section class="container section-container position-relative">
  <header class="header-title">
    <img class="header-title-bg" src="assets/images/img-header-latestnews.png"/>
    <h1><img src="assets/images/img-header-icon.png"/>Play with us</h1>
  </header>
  <img class="image-home-1" src="assets/images/img-red.png"/>
  <div class="home-about-photo mt-4 mb-4">
    <img class="w-100" src="assets/images/photo-1.jpg"/>
  </div>
  <p>Formerly known as the Federation of Touch Football Pilipinas, Touch Association Pilipinas (or TAP for short), is the national sports association for the sport of touch rugby/football in the Philippines.</p>
  <a href="#"  class="btn-default">Learn more</a>
</section>